<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Person</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/people" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="imgUrl + 'big_' + person.profile_photo" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>{{ person.username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-icon size="large" color="success" name="radio-button-on" slot="start"></ion-icon>
        <ion-icon size="large" button (click)="request(person)" color="primary" name="chatbubble" slot="end"></ion-icon>
      </ion-label>
      {{ person.profile_text }}
    </ion-card-content>
  </ion-card>
</ion-content>
