<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <canvas #imageCanvas></canvas>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of templates" (click)="setBackground(item.src)">
        <img [src]="imgSrc + item.src" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="exportCanvasImage()">
    <ion-icon slot="start" name="download"></ion-icon>
    Share Profile
  </ion-button>

  <ion-button color="secondary" expand="full" [routerLink]="[ '/profile' ]">
    <ion-icon slot="start" name="download"></ion-icon>
    Open Profile
  </ion-button>
</ion-content>
